button {
  background: none;
  border: #fff 3px solid;
  border-radius: 0;
  outline: none;
  
  color: #fff;
  font-family: 'Silkscreen', monospace;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.dialog-button {
  margin: 10px 0;
}

input[type=checkbox] {
  background: transparent;
  border: #fff 3px solid;
  border-radius: 0;
  outline: none;
}

input[type=text] {
  background: transparent;
  border: #fff 3px solid;
  border-radius: 0;
  outline: none;

  color: #fff;

  width: 80%;
  font-family: 'Silkscreen', monospace;
}

dialog {
  background: #000;
  color: #fff;

  z-index: -2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 50%;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.5);
}

.dialog-text {
  margin: 10px 0;
}

#volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 5em;
  width: 30%;
  
  user-select: none;
}

#volume-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 1em;
}

#volume-bar:hover {
  cursor: pointer;
}

.volume-bar-line {
  height: 100%;
  width: 4px;

  margin: 0 2px 0 2px;

  background: #222;

  pointer-events: none;
}

.volume-bar-line.active {
  background: #444;
}

#volume-bar.muted .volume-bar-line {
  background: #AA4A44;
}