audio {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background: #000;

  color: #fff;

  font-size: 1.2em;
  font-family: 'Silkscreen', monospace;

  user-select: none;

  overflow: hidden;
}

html.transparent {
  background: transparent;
}

html.transparent body {
  background: transparent;
}

html.transparent #bg-cover {
  display: none;
}

html.transparent #side-options {
  display: none;
}

html.transparent #notice-container {
  display: none;
}

#bg-cover {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-position: center;
  background-size: cover;

  filter: blur(5px) brightness(0.05);

  z-index: 1;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  z-index: 2;

  position: relative;
}

#playing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

#currently-playing {
  margin-top: 14px;
}

#duration-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;

  margin-top: 10px;
}

#duration-area span {
  width: 3em;
  text-align: center;
}

#progress-bar {
  height: 6px;
  width: 20vw;

  margin: 0 10px;

  background: #444;
}

#progress-bar #progress-bar-fill {
  height: 100%;
  width: 0%;

  background: #999;
}

#cover-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 12em;
  width: 12em;
}

#cover-container img {
  height: 100%;
  width: 100%;

  /* Youtube thumbnails are widescreen, so we crop to make them square */
  object-fit: cover;
}