#side-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 10%;

  position: absolute;
  top: 0;
  left: 0;
}

.side-icon {
  height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-icon:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.side-icon img {
  height: 100%;
}

#github-icon img {
  height: 80% !important;
}